@font-face {
    font-family: 'Relato Sans';
    font-style: normal;
    font-weight: 300;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: italic;
    font-weight: 300;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: italic;
    font-weight: 400;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: normal;
    font-weight: 600;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: italic;
    font-weight: 600;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: italic;
    font-weight: 700;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: normal;
    font-weight: 800;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

@font-face {
    font-family: 'Relato Sans';
    font-style: italic;
    font-weight: 800;
    src: url('../../Fonts/RelatoSansOT-Regular.otf');
}

/*table header*/
#tableHeader {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    padding-top:7.64vw;
    border-bottom: 0px solid black;
    text-align: center;
    font-family: 'Relato Sans';
    font-weight: 900;
    font-size: 7.49vw;
    text-transform: uppercase;
    display: block;
    padding-bottom: 3vw;
}

#theDiv {
    position: relative;
    left: 0;
    width: 93%;
    height: 750px; /* Set this to any height you need to enable scrolling */
    border: 0px solid red;
    overflow-y: auto; /* Make sure vertical overflow is set to auto */
    overflow-x: hidden; /* Optional: hides horizontal scroll if not needed */
    -ms-overflow-style: none; /* Only for IE, hides the scrollbar on IE */
    z-index: 20;
}


/*text color for the whole page*/
body
{
    color: Black;
}

#addressHeader {
    font-family: Arial, sans-serif; /* Fallback to a system font */
    color: #f5f5f5; /* Hex value for whitesmoke */
    font-size: 24px; /* Set a fixed font size as vw is not supported */
    font-weight: bold;
    padding: 5px;
    text-align: center;
    width: 95%; /* Approximate `calc(100% - 20px)` */
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px; /* Replace vmin with a fixed value */
    display: block;
}

/* page background color*/
.pageBackgroundColor
{
    background-color: white;
}
/*font and font size*/
#tblResidents {
    /*font-family: Relato Sans;*/
    font-family: 'Relato Sans';
    font-weight: lighter;
    /*font-size: 16px;*/
    /*font-size: 3.8vmin;*/
    font-size: 5.4vmin;
}

#tblResidents th {
    /*text-align: left;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #333333;
    text-decoration-color: grey;*/
}
/*table data*/
#tblResidents td
{
    padding-top: 5px;
    padding-bottom: 5px;
}
/*table data, odd rows*/
#tblResidents tr.oddRow
{
    /*background-color: #333;*/
}
/*table data, even rows*/
    #tblResidents tr.evenRow {
        /*background-color: #666;*/
        /*background-color: #666;*/
    }

/*table data, odd floors*/
#tblResidents tr.oddFloor
{
    /*background-color: #333;*/
}
/*table data, even floors*/
#tblResidents tr.evenFloor
{
    /*background-color: #666;*/
}

/*padding left and right in table cells and line between the apartments*/
    #tblResidents th {
        padding-left: 10px;
        padding-right: 10px;
        /*padding-bottom: 20px;*/
        border-bottom: 1px solid grey;
        border-bottom-color: grey;
    }

#tblResidents td {
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 20px;*/
    border-bottom: 0px solid grey;
    /*border-bottom-color: grey;*/
}
/*margin outside table*/
.divMargin
{
    margin: 0px;
}
/*extra padding for first row*/
#firstRow td
{
    padding-top: 20px !important;
}


#residents-table-head-floor {
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1.25vmin;
}

#residents-table-head-name {
    text-align: left;
    white-space: nowrap;
    padding-bottom: 1.25vmin;
}

#residents-table-head-apartment {
    text-align: center;
    white-space: nowrap;
    padding-bottom: 1.25vmin;
}


.residents-table-floor-column {
    width: 15%;
	text-align: center;
	vertical-align: top; 
	white-space: nowrap;
}

.residents-table-name-column {
    width: 70%;
	vertical-align: top;
	white-space: normal;
}

.residents-table-apartment-column {
    width: 15%;
	text-align: center;
	vertical-align: top;
	white-space: nowrap;
}
